{{ define "main" }}
    <div class="prime container text-center fw-bold fs-2">
        <form class="prime-form">
            <label for="prime-form-number" class="form-label">Check Number</label>

            <div id="prime-form-number-info" class="form-text fs-5 mb-4">
                Enter an integer to get prime info using 20 iterations of the <a href="https://wikipedia.org/wiki/Miller%E2%80%93Rabin_primality_test" target="_blank">Miller-Rabin primality test</a>.
            </div>
            <input type="text" step="1" inputmode="numeric" class="form-control" name="prime-form-number" id="prime-form-number" aria-describedby="prime-form-number-info" placeholder="420">

            <button type="submit" class="prime-form-submit btn btn-primary mt-4">
                Check {{ partial "icon" "calculator" }}
            </button>
        </form>

        <hr />

        <div class="row">
            <div class="col">
                <p class="">Is Prime?</p>
                <code id="prime-output-isprime"></code>
            </div>
            <div class="col">
                <p class="">Next Prime:</p>
                <code id="prime-output-nextprime"></code>
            </div>
        </div>
    </div>
{{ end }}

{{ define "foot" }}
    {{ $randoJS := resources.Get "js/kits/randojs/rando.js" }}
    {{ $primeJS := resources.Get "js/kits/prime.js" }}
    {{ $pageJS := slice $randoJS $primeJS | resources.Concat "js/prime-kit.js" | minify }}
    {{ $pageSRI := $pageJS | resources.Fingerprint "sha384" }}
    <script defer src="{{ $pageSRI.RelPermalink }}" integrity="{{ $pageSRI.Data.Integrity }}"></script>
{{ end }}
